<h1>Home Products</h1>
<a href="/api/sessions/logout">Cerrar sesión</a>
<hr>
<form id="paramsForm" action="">
  <label for="category">Categoría:</label>
  <select name="category" id="categorySelect">
    <option value="">Todas</option>
    <option value="cat_a">cat_a</option>
    <option value="cat_b">cat_b</option>
    <option value="cat_c">cat_c</option>
    <option value="cat_d">cat_d</option>
  </select>
  <label for="status">Estado:</label>
  <select name="status" id="statusSelect">
    <option value="">Todos</option>
    <option value="true">Disponible</option>
    <option value="false">No disponible</option>
  </select>
  <label for="sort">Ordenar por precio:</label>
  <select name="sort" id="sortSelect">
    <option value="">No ordenar</option>
    <option value="asc">Ascendente</option>
    <option value="desc">Descendente</option>
  </select>
  <label for="limit">Cantidad por página:</label>
  <input type="text" id="limitInput">
  <label for="page">Página:</label>
  <input type="text" id="pageInput">
</form>
<a id="goAnchor" href=""><b> Aplicar</b></a>
<br>
<br>
{{#if products.hasPrevPage}}
  <a href="{{products.prevLink}}">Página anterior</a>
{{/if}}
{{#if products.hasNextPage}}
  <a href="{{products.nextLink}}">Página siguiente</a>
{{/if}}
<br>
<br>
<label for="cartSelect">Carrito en uso:</label>
<select name="cart" id="cartSelect">
{{#each carts}}
  <option value="{{this._id}}">{{this.alias}}</option>
{{/each}}
</select>
<hr>
{{#each products.payload}}
  <div>
    <h2>Title: {{this.title}}</h2>
    <p>Category: {{this.category}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: ${{this.price}}</p>
    {{#if this.status}}
      <p>Disponible</p>
      <form class="addToCartForm" id="{{this._id}}">
        <label>Cantidad:
          <input type="text" name="quantity" class="quantity">
        </label>
        <input type="submit" value="Agregar al carrito">
      </form>
    {{else}}
      <p>No disponible</p>
    {{/if}}
    <hr>
  </div>
{{/each}}
<script src="/js/products.js"></script>