<h1>Productos en tiempo real</h1>
<h2>Eliminar producto</h2>
<form id="deleteProductForm" action="">
  <input type="text" placeholder="Ingrese ID" />
  <br />
  <input type="submit" value="Enviar" />
</form>
<h2>Crear producto</h2>
<form id="addProductForm">
  <input type="text" name="title" placeholder="Nombre" />
  <br />
  <input type="text" name="description" placeholder="Descripción" />
  <br />
  <input type="text" name="code" placeholder="Código" />
  <br />
  <input type="text" name="price" placeholder="Precio" />
  <br />
  <input type="text" name="status" placeholder="status" />
  <br />
  <input type="text" name="stock" placeholder="Cantidad disponible" />
  <br />
  <input type="text" name="category" placeholder="Categoría" />
  <br />
  <input type="file" name="image" placeholder="Imagen" />
  <br />
  <input type="submit" value="Enviar" />
</form>
<h2>Lista de productos</h2>
<span id="toast">Lista actualizada!</span>
{{#each products.docs}}
  <div>
    <h2>Title: {{this.title}}</h2>
    <p>Category: {{this.category}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: ${{this.price}}</p>
    {{#if this.status}}
      <p>Disponible</p>
    {{else}}
      <p>No disponible</p>
    {{/if}}
    <hr />
  </div>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>